body {
    margin-left: 15%;
    margin-right: 10%;
    max-width: 1200px;
}

.navegacao {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#titulo {
    width: 119px;
    height: 42px;
    top: 40px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #000000;
}

#menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    text-align: normal;
    width: 114px;
    height: 24px;
    top: 49px;
    left: 974px;
    gap: 0px;
    opacity: 0px;
}


#cabecalhocta h1 {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 700;
    line-height: 82.5px;
    text-align: left;
    color: #000000;
}

p.texto {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #575455;
}

#cabecalhoimg {
    margin-left: 42px;
    border-radius: 50%;
}

#cabecalho img {
    width: 70%;
}

a {
    color: #000000;
    text-decoration: none;
}

#buttoncta {
    background: #1ba602;
    width: 180px;
    height: 48px;
    top: 504px;
    left: 160px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
    line-height: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 50px 10px 50px;
}

#clients {
    margin-top: 50px;
    margin-bottom: 50px;
}

#cabecalhoclientetexto {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

#cabecalhotextologo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#red {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: rgb(0, 144, 10);
}

#black {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.gray {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-align: center;
}

#contactForm input {
    width: 406px;
    height: 48px;
    top: 1627px;
    left: 887px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
}

#contactForm button {
    width: 180px;
    height: 48px;
    top: 1695px;
    left: 887px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
    color: #ffffff;
    background-color: #1b9605;
    border-color: #000000;
    font-size: 16px;
}

#red2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;   
    color: #125c05;
}

#black2 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #000000;
}